// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

// body
body, html, .body  {
  background-color: lighten($gigazone-gray, 50%) !important;
}

// Typography overrides from defaults
h1, h2 {
  font-weight: 400;
  text-transform: uppercase;
  color: $gigazone-black;
  hyphens: none;
}

h2, h3, h4, h5, h6 {
  color: $gigazone-gray;
  @include margin-bottom(.875);
}

h2 {
  border-bottom: 3px solid $gigazone-orange;
}

h3 {
  border-bottom: 3px solid lighten($gigazone-gray, 25%);
}

h4, h5, h6 {
  font-weight: 700;
}

p {
  @include font-size(1.375);
}

// Full Width Headers
.header {
  background: $gigazone-gray url($header-background-image) top left repeat;
}

// greeting
.greeting {
  color: lighten($gigazone-gray, 25%);
  @include font-size(1.875);

}

// lists
ul {
  padding: 0;
  @include margin(0, 0, 1, 1);

}
ol {
  @include margin(0,0,1,0);
  @include padding(0,0,0,1.75);
}

ol li {
  @include padding(0,.5);
  @include margin-bottom(.5);
}

ul li {
  background: transparent url($bullet-icon) floor($global-padding * .0125) floor($global-padding * .25) no-repeat;
  list-style: none;
  @include padding(0, 1.125);
  @include margin-bottom(0.5);
}

// footer

.footer {
  &-icon {
   @include padding(1, .5);
  }
}

// buttons
// table.button table td a

table.button {
  table {
    td {
      a {
        text-transform: uppercase;
      }
    }
  }
}

// utility

.no-border {
  border: none;
}

.txt-center {
  text-align: center;
}
